<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway:300,400" rel="stylesheet">
    <link rel="stylesheet" href="styles/home.css">
    <title>Edit Trail</title>
</head>
<body>
    <header>

        <!-- navigation and app name -->
        <section class="nav_name">
            <h3> Trail Legs </h3>
            <i class="fa fa-bars"></i>
            <nav>
                <a href="/">Home</a>
                <a href="/cities">Cities</a>
                <!-- TODO add city name path -->
                <!-- <a href="/cities/city._id">city name</a> -->
            </nav>
        </section>
    </header>
    <main>
        <h1>Edit Trail Name</h1>
        <!-- TODO route back to trail after edit -->
        <form action="/trails/<%= trail._id %>?_method=PUT" method="POST">

        <!-- dropdown menu of all cities -->
        <select name="city">
            <option value="<%=trail.city._id%>"><%= trail.city.name %></option>
        </select>
        <input type="text" name="name" value="<%= trail.name %>">
        <input type="text" name="location" value="<%= trail.location %>">
        <textarea name="description"cols="30" rows="10">
            <!-- TODO add whatever was in description before -->
        </textarea>
        <input type="submit" value="Submit">

        <!-- TODO make a cancel button -->

        </form>
    </main>
    <footer>
        <p>Copyright</p>
    </footer>
</body>
</html>