<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway:300,400" rel="stylesheet">
    <link rel="stylesheet" href="/styles/edit.css">
    <title>Edit <%=trail.name%></title>
</head>
<body>
    <header>
        <!-- navigation and app name -->
        <h3> Trail Legs </h3>
        <div class="nav">
            <i class="fa fa-bars"></i>
        <div class="nav_list">
            <a href="/" class="nav_link"><i class="fas fa-home"></i> Home</a>
            <a href="/cities" class="nav_link"><i class="fas fa-globe-americas"></i> Cities</a>
            <a href="/cities/<%=trail.city._id%>" class="nav_link"><i class="fas fa-undo"></i> <%=trail.city.name%></a>
        </div>
        </div>
    </header>
    <main>
        <h2>Edit <%=trail.name%></h2>

        <section class="main_content">
        <form action="/trails/<%= trail._id %>?_method=PUT" method="POST">
        <!-- dropdown menu of all cities -->
        <select name="city">
            <option value="<%=trail.city._id%>"><%= trail.city.name %></option>
        </select>
            <br />
        <input type="text" name="name" value="<%= trail.name %>">
            <br />
        <input type="text" name="location" value="<%= trail.location %>">
            <br />
        <textarea name="description"cols="30" rows="10"><%=trail.description%></textarea>
            <br />
        <input type="text" name="image" value="<%= trail.image %>">
            <br />
            <button type="submit"><i class="fas fa-check"></i></button>
            <a href="/trails/<%= trail._id %>"><i class="fas fa-times"></i></a>

        </form>
        </section>
    </main>
    <footer>
        <p>Copyright</p>
    </footer>
</body>
</html>