<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="/styles/new.css">
    <title>Create Trail</title>
</head>
<body>
    <h1>Create New Trail</h1>
    <header>

        <!-- navigation and app name -->
        <section class="nav_name">
            <h3> Trail Legs </h3>
            <i class="fa fa-bars"></i>
            <nav>
                <a href="/">Home</a>
                <a href="/cities">Cities</a>
                <a href="/cities/<%=city._id%>"><%=city.name%></a>
            
            </nav>
        </section>
    </header>
    <main>
        <h1>Create New Trail</h1>
        
        <!-- route back to trail name after creation -->
        <form action="/trails/<%= city._id %>" method="POST">

        <!-- dropdown menu of all cities -->
        <select name="city">
            <option value="<%=city._id%>"><%= city.name %></option>
        </select>

        <input type="text" name="name" placeholder="Name">
        <input type="text" name="location" placeholder="Location">
        <textarea name="description"cols="30" rows="10" placeholder="Description of the trail..."></textarea>
        <input type="text" name="image" placeholder="Image URL">
        <button type="submit"><i class="fas fa-check"></i></button>
        <a href="/cities/<%= city._id %>"><i class="fas fa-times"></i></a>

        </form>
    </main>
    <footer>
        <p>Copyright</p>
    </footer>
</body>
</html>