<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway:300,400" rel="stylesheet">
    <link rel="stylesheet" href="/styles/trails-show.css">
    <title>View Trail</title>
</head>
<body>
    <header>

        <!-- navigation and app name -->
        <section class="nav_name">
            <h3> Trail Legs </h3>
            <i class="fa fa-bars"></i>
            <nav>
                <a href="/">Home</a>
                <a href="/cities">Cities</a>
                <a href="/cities/<%=trail.city._id%>"><%=trail.city.name%></a>
            </nav>
        </section>
    </header>
    <main>

        <div class="trail_header">
            <div class="trail_text">
                    <h2><%=trail.name%></h2>
                    <h4><%=trail.location%> - <%=trail.city.name%>, <%=trail.city.state%></h4>
            </div>
            <div class="trail_img">
                <img src="<%=trail.image%>" alt="<%=trail.name%>">
            </div>
        <div>
            <p><%=trail.description%></p>
            

            
            <!-- delete icon -->
            <form action="/trails/<%=trail._id%>?_method=DELETE" method="POST">
            <button><i class="fa fa-trash"></i></button>
            </form>
            <!-- edit icon -->
            <a href="/trails/<%=trail._id%>/edit"><i class="fas fa-pen"></i></a>
        </div>

    
    </main>
    <footer>
        <p>Copyright</p>
    </footer>
</body>
</html>